<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <!--Falta hacer, muestra las opciones a editar-->
    <!--y te permite escrivir el nombre de la persona a la que se lo mandaras-->
    <main>
        <form asp-controller="User" asp-action="ComperteTarea" method="post" autocomplete="false" tabindex="-1">
            <h2>Escrive a quien se lo deseas compartir:</h2>
            <input type="text" id="nombreUsuario" name="nombreUsuario" required>
            <input type="hidden" name="idTarea" value=@ViewBag.idTarea />
            <input type="submit" value="Ingresar Respuesta">
        </form>


    </main>
    <a asp-controller="User" asp-action="AdministrarMovimientosEntrePestañas" asp-route-eleccion="7">
        Volver a decisiones
    </a>


</body>

</html>