<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <h2>Elije la tarea que quieres vorrar</h2>
    @foreach (Tareas tarea in ViewBag.dato)
    {
        <form asp-controller="User" asp-action="BorrarTarea" method="post">
            <p>

            <div>
                @if (@tarea.estado != 1)
                {
                    <input type="radio" name="idTarea" value="@tarea.id" />
                    <label>@tarea.nombre</label>
                    <input type="submit" value="Borrar" />
                }
            </div>

            </p>
        </form>
    }
    </main>

    <a asp-controller="User" asp-action="AdministrarMovimientosEntrePestañas" asp-route-eleccion="7">
        Volver a decisiones
    </a>

</body>

</html>