<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pene, el que mira es gey</title>
</head>
@{
    var tarea = ViewBag.tarea as Tareas;
}
<body>
    <main>
    <h2>Editar Tarea: </h2>
            <form asp-controller="User" asp-action="EditarTarea" method="post" autocomplete="false" tabindex="-1">
            <p>
                Opciones <br><!--Radio button-->
                <label for="nombreTarea">@tarea.nombre</label>
                <input type="text" id="nombreTarea" name="nombreTarea" required>

                <label for="nombreTarea">@tarea.descripcion</label>
                <input type="text" id="nombreTarea" name="nombreTarea" required>

                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" value='@tarea.fecha.ToString("yyyy-MM-dd")' required />

                @if(@tarea.estado == 0){
                <label for="nombreTarea">Por hacer</label>
                <select name="Estado">
                <option value="0">Por hacer</option>
                <option value="2">En proceso</option>
                <option value="1">Hecho</option>
                </select>
                }else if(@tarea.estado == 1){
                <label for="nombreTarea">Hecho</label>
                <select name="Estado">
                <option value="0">Por hacer</option>
                <option value="2">En proceso</option>
                <option value="1">Hecho</option>
                </select>
                }else{
                <label for="nombreTarea">En proceso</label>
                <select name="Estado">
                <option value="0">Por hacer</option>
                <option value="2">En proceso</option>
                <option value="1">Hecho</option>
                </select>
                }
                <input type="submit" value="Ingresar Respuesta">
            </p>
            </form>
    </main>
</body>

</html>