<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <main>
        <h2>Listado de Clientes:</h2>
         @foreach (Tareas tarea in ViewBag.dato)
            {
                <div> 
                    <h2>@tarea.nombre </h2>
                </div>
            }
    </main>
    <a asp-controller="User" asp-action="AdministrarMovimientosEntrePestañas" asp-route-eleccion="7">
        Volver a decisiones
    </a>


</body>

</html>