<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <main>
        <form asp-controller="User" asp-action="Login" method="post" autocomplete="false" tabindex="-1">
            <label for="usuario">Registrar nuevo usuario</label>
            <br>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>
            <br>
            <label for="clave">Clave</label>
            <input type="text" id="clave" name="clave" required>
            <br>
            <input type="submit" value="Ingresar Respuesta">            
        </form>
    </main>
</body>

</html>